.Sidebar {
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid grey;
}

.Sidebar-logo {
  font-size: 2.5rem;

  color: rgb(4, 142, 240);
  font-weight: bold;
}
.Sidebar-icon {
  margin: 1rem;
  cursor: pointer;
}
